<phpunit colors="true"
         verbose="true"
         bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Models">
            <directory>tests/Models</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/Controllers</directory>
            <directory suffix=".php">src/Models</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
</phpunit>
