<phpunit colors="true"
         verbose="true"
         bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Models - Unit">
            <directory suffix="UnitTest.php">tests/Models</directory>
        </testsuite>
        <testsuite name="Models - Integration">
            <directory suffix="IntegrationTest.php">tests/Models</directory>
        </testsuite>
        <testsuite name="Controllers - Integration">
            <directory>tests/Controllers</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/Controllers</directory>
            <directory suffix=".php">src/Models</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
</phpunit>
